.flex-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width:1280px;
  margin:0 auto;
  gap:20px;
  justify-content: center;
}
.background-red{
  position:relative;
  background-color: red;
  width:350px;
  height:400px;
}
.background-blue{
  background-color:blue;
  width:350px;
  height:400px;
  position:relative;
  
}
.background-green{
  background-color:green;
  width:350px;
  height:400px;
  position:relative;
}
.background-orange{
  position:relative;
  background-color: orange;
  width:350px;
  height:400px;
}
.background-violet{
  background-color:violet;
  width:350px;
  height:400px;
  position:relative;
  
}


.info{
  display:flex;
  float:left;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  height:100%;
  width:50%;
  line-height: 0.2;
}
img{

  border-radius:50%;
  width:100px;
  height:100px;
  display: flex;
  align-items: center;
  margin-top:50px;
  margin-left:60px;
}
.user-name{
  display:flex; 
  font-size:20px;
  height:30px;
  justify-content:flex-end;
  text-align:center;


}
.user-designation{
  width:200px;
  height:30px;
  float:right;
  font-weight:20px;
  display: flex;
  justify-content:flex-end;  
  margin-bottom:30px;  
}

.btn1{
  border-radius:18px;
  width:120px;
  height:30px;
  box-sizing: border-box;
  float:right;
  background-color:rgb(228, 130, 130);
  color:brown;
  opacity:0.5;
  font-weight:20px;
  line-height: 0.2;
  cursor:pointer;
  
}
.btn2{
  border-radius:18px;
  width:120px;
  height:30px;
  box-sizing: border-box;
  float:right;
  background-color:rgb(228, 130, 130);
  color:brown;
  opacity:0.5;
  font-weight:20px;
  line-height: 0.2;
  cursor:pointer;
  margin-top: 20px;
  margin-bottom: 50px;
}

.socialmedia-followers{
  display: flex;
  flex-direction: column;
  background-color: bisque;
  width:133px;
  height:33%;
  box-sizing:border-box;
  margin:1px;
  float:right;
  justify-content: center;
  align-items: center;
}
.socialmedia-likes{
  display: flex;
  flex-direction: column;
  background-color: bisque;
  width:133px;
  height:33%;
  box-sizing:border-box;
  margin:1px;
 
  float:right;
  justify-content: center;
  align-items: center;
  
}
.socialmedia-posts{
  display: flex;
  flex-direction: column;
  background-color: bisque;
  width:133px;
  height:33%;
  box-sizing:border-box;
  margin:1px;
  float:right;
  justify-content: center;
  align-items: center;
  
}

.socialmedia-followers,.socialmedia-posts,.socialmedia-likes:hover{
  cursor:pointer;
}
.num{
  text-align: center;
  color:black;
  font-size:20px;
}
.purpose{
  font-size:20px;
  text-align:center;
}
